@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.font-style {
  font-family: "Oswald", sans-serif;
}

.hamburger-line {
  @apply w-[29px] h-[2px] my-2 block bg-dark dark:bg-white;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm dark:bg-dark;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.input-focus > input:focus {
  box-shadow:
    0 0 0 4px rgba(13, 110, 253, 0.25),
    0 0 0 1px #86b7fe;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}

.card {
  @apply rounded-lg bg-white shadow-2xl m-3 border text-secondary overflow-hidden hover:scale-[1.02] transition duration-300;
}

.card-img {
  @apply max-w-full w-full rounded-bl-lg rounded-br-lg object-cover object-center;
}
